version: 2

jobs:
  build:
    docker:
      - image: circleci/python:3.6.1

    working_directory: ~/cookiecutter

    steps:
      - checkout

      - run:
          name: install node
          command: |
            sudo apt-get update -y
            sudo apt-get upgrade -y
            curl -sL https://deb.nodesource.com/setup_8.x -o nodesource_setup.sh
            sudo bash nodesource_setup.sh
            sudo apt-get install nodejs
            sudo apt-get install build-essential

      - run:
          name: install dependencies
          command: |
            sudo pip install -r requirements.txt
            sudo pip install -r {{cookiecutter.project_slug}}/requirements/local.txt
            sudo pip install -r {{cookiecutter.project_slug}}/requirements/test.txt

      - run:
          name: Run tests
          command: |
            pytest
            rm -rf project_name
            cd {{cookiecutter.project_slug}} && ls && rm -rf node_modules/ && cd ..
            cd ~/cookiecutter
            yes "" | cookiecutter cookiecutter
            cd project_name && npm install && npm run build && cd ..
            pytest project_name
