version: 2

jobs:
  build:
    docker:
      - image: circleci/python:3.6.1
        environment:
        - POSTGRES_USER=pathwaze
        - USE_DOCKER=yes
        - DATABASE_URL=postgres://pathwaze:pathwaze@postgres:5432/pathwaze
        - REDIS_URL=redis://redis:6379
      - image: postgres
        name: postgres
        environment:
        - POSTGRES_USER=pathwaze
      - image: redis
        name: redis

    working_directory: ~/pathwaze

    steps:
      - checkout

      # Dependencies
            #   This would typically go in either a build or a build-and-test job when using workflows
            # Restore the dependency cache
      - restore_cache:
          keys:
            # This branch if available
            - v1-dep-{{ .Branch }}-
            # Default branch if not
            - v1-dep-master-
            # Any branch if there are none on the default branch - this should be unnecessary if you have your default branch configured correctly
            - v1-dep-

      - run:
          name: install node
          command: |
            sudo apt-get update -y
            sudo apt-get upgrade -y
            curl -sL https://deb.nodesource.com/setup_8.x -o nodesource_setup.sh
            sudo bash nodesource_setup.sh
            sudo apt-get install nodejs
            sudo apt-get install build-essential

      - run:
          name: install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements/test.txt

      - run:
          name: Install Node dependencies
          command: npm install

      - run:
          name: Install Chrome Dependencies
          command: sudo apt-get install -qy fonts-liberation libappindicator3-1 libasound2 libatk-bridge2.0-0 libatk1.0-0 libcups2 libgtk-3-0 libnspr4 libnss3 libx11-xcb1 libxcomposite1 libxcursor1 libxdamage1 libxfixes3 libxi6 libxrandr2 libxss1 libxtst6 wget xdg-utils unzip

      - run: curl -L -o google-chrome.deb https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
      - run: sudo dpkg -i google-chrome.deb
      - run: sudo sed -i 's|HERE/chrome\"|HERE/chrome\" --disable-setuid-sandbox|g' /opt/google/chrome/google-chrome
      - run: sudo rm google-chrome.deb
      - run: sudo wget http://chromedriver.storage.googleapis.com/`curl -sS chromedriver.storage.googleapis.com/LATEST_RELEASE`/chromedriver_linux64.zip
      - run: sudo unzip chromedriver_linux64.zip
      - run: sudo cp chromedriver /usr/local/bin/chromedriver

          # Save dependency cache
      - save_cache:
          key: v1-dep-{{ .Branch }}-{{ epoch }}
          paths:
            - ./node_modules
            - /root/.cache

      - run:
          name: Build JS files
          command: npm run build

      - run:
          name: Lint JS files
          command: npm run lint

      - run:
          name: Test JS files
          command: npm test

      - run:
          name: Run tests
          command: pytest --verbose pathwaze
