{% raw %}{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}{% endraw %}{{ cookiecutter.project_name }}{% raw %}{% endblock title %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'build/main.css' %}">
  {% block head %}{% endblock %}
</head>
<body>
  <div class="content">
    {% block content %}{% endblock %}
  </div>

  {% block extra %}
    <script type="text/javascript" src="{% static 'build/vendor.bundle.js' %}"></script>
  {% endblock %}
</body>
</html>{% endraw %}
