{% raw %}{% load staticfiles %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}{% endraw %}{{ cookiecutter.project_name }}{% raw %}{% endblock title %}</title>
  {% render_bundle 'styles' 'css' %}
  {% block head %}{% endblock %}
</head>
<body>
  <div class="content">
    {% block content %}{% endblock %}
  </div>

  {% block extra %}
    {% render_bundle 'vendor' %}
  {% endblock %}
</body>
</html>{% endraw %}
